---
import Html from "~/components/Page/Html/index.astro";
import { Nav } from "~/components/Page/Nav";
import { Body } from "~/components/Page/Body";
import { Main } from "~/components/Page/Main";
import { Footer } from "~/components/Page/Footer";
import { Header } from "~/components/Typography/Header";
import { Paragraph } from "~/components/Typography/Paragraph";
import { ListItem } from "~/components/Typography/ListItem";
import { UnorderedList } from "~/components/Typography/UnorderedList";
import { InternalLink } from "~/components/Typography/InternalLink";
import { formatDate } from "~/utils/formatDate";
import "~/index.css";

const allThoughts = [
  {
    metadata: {
      id: "cuban-salsa-dancing",
      title: "Cuban Salsa Dancing",
      timestamp: new Date(2026, 5, 7),
      minutes: 9,
    },
  },
  {
    metadata: {
      id: "artificial-intelligence",
      title: "Artificial Intelligence",
      timestamp: new Date(2026, 2, 24),
      minutes: 7,
    },
  },
  {
    metadata: {
      id: "financial-literacy",
      title: "Financial Literacy",
      timestamp: new Date(2024, 4, 27),
      minutes: 4,
    },
  },
];
---

<Html
  title="Thoughts — Kevin Amado's Writing"
  og={{
    type: "website",
    title: "Kevin Amado's Thoughts",
    description:
      "Writings on software engineering, finance, and personal interests.",
  }}
>
  <Body>
    <Nav client:load current="Thoughts" />
    <Main>
      <Header>Thoughts</Header>
      <Paragraph>
        This is a collection of writings on topics I've found interesting over
        time. You can click on any of them to read more.
      </Paragraph>
      <UnorderedList>
        {
          allThoughts.map((thought) => (
            <ListItem>
              <InternalLink to={`/thoughts/${thought.metadata.id}`}>
                {thought.metadata.title}.
              </InternalLink>
              <span class="text-ctext ml-2 text-xs">
                {formatDate(thought.metadata.timestamp)}
                {" • "}
                {thought.metadata.minutes} minutes read.
              </span>
            </ListItem>
          ))
        }
      </UnorderedList>
    </Main>
    <Footer />
  </Body>
</Html>
